body {
	background: #141414;
	color: #ffffff;
}

.movie-app>.row {
	overflow-x: auto;
	flex-wrap: nowrap;
	white-space: nowrap;
}

.movie-row {
	overflow-x: auto;
	flex-wrap: nowrap;
	overflow-y: hidden;
	height: max-content;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

/*Remove horizontal scroll bar while allowing scroll*/
.movie-row::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.header {
	background-color: #ffffff;
	color: #141414;
}


.image-container {
	position: relative;
	transition: transform 0.2s;
	height: max-content;
	width: fit-content;
	display: inline-block;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}